.container {
  display: flex;
  height: 100%;
  justify-content: center;

  ngx-typeahead ::ng-deep .ngx-typeahead {
    align-self: center;
    margin-right: 15%;

    .ngx-plain-content {
      border: 1px solid #4b4848;
      background-color: #212121;
      color: white;
    }
  }
}

